.card {
    background-color: rgba(0, 0, 0, 0.688);
    border: 3px solid rgba(0, 0, 0, 0.518);
    justify-content: center;
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
    margin-top: 10px;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;

}


.name {
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 150%;
    margin-top: 1px;

}

.team {
    margin-top: 1px;
    color: white;
}

.image {
    background-color: black;
    object-fit: cover;
    width: 90%;
    height: 300px;
    top: 10%;
}